<!DOCTYPE html>
<html>
<head>
  <title>Abas de Página</title>
  <!-- Adicione a referência ao Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Criação da barra de abas -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#comanda">Comanda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#adicionar-produto">Adicionar Produto</a>
  </li>
</ul>

<!-- Conteúdo das abas -->
<div class="tab-content">
  <!-- Aba Comanda -->
  <div id="comanda" class="container tab-pane active">
    <h3>Conteúdo da aba Comanda</h3>
    <!-- Adicione aqui o conteúdo da aba Comanda -->
  </div>

  <!-- Aba Adicionar Produto -->
  <div id="adicionar-produto" class="container tab-pane fade">
    <h3>Conteúdo da aba Adicionar Produto</h3>
    <!-- Adicione aqui o conteúdo da aba Adicionar Produto -->
  </div>
</div>

<!-- Adicione a referência ao jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Adicione a referência ao Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Adicione a referência ao Bootstrap.js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>