.Add-Table {
    display: flex;
    justify-content: space-between;
}

.btn-add {
    margin-top: 0.7%;
    height: 68%;
}

body {
    background-color: whitesmoke;
    height: 100%;
}

ul {
    padding-left: 0;
}

.table {
    margin-top: 3%;
    width: 100%;


}

.icon {
    width: 13%;
    font-size: 20px;
    margin: 2%;
}
.btn-acoes{
    display: flex;
    flex-direction: row;
}

/* Redimensionamento */

@media screen and (max-width: 700px) {
    .Add-Table {
        margin-top: 10%;
        display: flex;
        justify-content: space-between;
    }
    .table {
        margin-top: 3%;
        width: 100%;
        font-size: 10px;
        margin-left: -10px;
    }
    .icon {
        width: 10%;
        font-size: 8px;
        padding: 10% 30% 10% 10%;
        text-align: center;
    }
    
}