.Add-Table {
    display: flex;
    justify-content: space-between;
}

.btn-add {
    margin-top: 0.7%;
    height: 10%;
}

.table-components {
    width: calc(100% - 30%);
    height: 90px;
    font-size: 200%;
    margin-top: 4%;
    margin-right: 10%;
    font-weight: bold;

}

.list-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: space-between;
    padding-left: 0rem;
    margin-top: 40px;
    list-style: none;
}

.list-table ul {
    display: flex;

}


body {
    background-color: whitesmoke;

}

.nav-tabs {
    display: flex;
    justify-content: start;
}

#modal-observacao {
    z-index: 1090; /* Defina um valor maior que o z-index do primeiro modal */
}
/* Estilos para o modal */


/* .table-produtos {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 30%;
}

.table-produtos th,
.table-produtos td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.table-produtos th {
    background-color: #f2f2f2;
} */

.table-produtos {
    margin-bottom: 10%;
    text-align: center;
}

.align-left {
    text-align: left;
}

h5 {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 1%;
}

h6 {
    font-size: 115%;

}

/* Estilos para abas ativas */
.nav-tabs .nav-link.active {

    font-weight: bold;

}

/* Estilos para abas inativas */
.nav-tabs .nav-link {
    color: #000;
    /* Cor do texto das abas inativas */

}

/* Estilos para o link das abas inativas */
.nav-tabs .nav-link:hover {
    font-weight: bold;
}


.buttons-container {
    display: flex;
    gap: 10px;
    /* Ajuste o espaçamento entre os botões conforme desejado */
}

.form-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.h6-total {
    margin-top: 2%;
}

.ttl-ItemVenda {
    margin-left: 1%;
}

.form-mesa {
    margin-bottom: 20px;
}

.input-group {
    width: 25%;
    padding: 0;
    margin-right: 10%;
}

.input-group-button {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.input-group-button .btn {
    border-radius: 0;
    border-width: 1px;
    border-left-width: 0;
    margin: 0;
    padding: 0;
    width: 25%;
}

.input-group-button .btn:first-child {
    border-radius: 4px 0 0 4px;
    border-left-width: 1px;
}

.input-group-button .btn:last-child {
    border-radius: 0 4px 4px 0;
}

.input-group-button .form-control {
    flex: 1;
    border-radius: 0;
    margin: 0;
}

.add-qtd {
    display: flex;
    justify-content: start;
}

.table-acoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}






/* Redimensionamento */

@media screen and (max-width: 700px) {
    .list-table {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin-right: -10px;
    }

    .table-produtos {
        margin-bottom: 10%;
        width: 70%;
        font-size: 70%;
        text-align: center;
    }

    .list-table li {
        display: flex;
        /* Usar flexbox para centralizar itens */
        align-items: center;
        /* Alinhar verticalmente os itens no centro */
        margin: 0;
        padding: 0;
    }

    .Add-Table {
        margin-top: 15%;
        display: flex;
        justify-content: space-between;
    }


    .table-components {
        width: calc(100% - 15%);
        height: 70px;
        font-size: 200%;


        font-weight: bold;

    }

    .btn-add {
        margin-top: 0.7%;

        padding: 1% 3% 1% 3%;
    }

    .btn-footer {
        width: 80%;
        font-size: 80%;
        padding: 5%;
        margin-right: 10%;

    }

    h6 {
        font-size: 100%;
    }

    .btns-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 10%;
    }
}